//bootstrap configuratin start

// Ratios for typography
$double-octave: 4;
$pi: 3.14159265359;
$major-twelfth: 3;
$major-eleventh: 2.666666667;
$major-tenth: 2.5;
$octave: 2;
$major-seventh: 1.875;
$minor-seventh: 1.777777778;
$major-sixth: 1.666666667;
$phi: 1.618034;
$golden: $phi;
$minor-sixth: 1.6;
$fifth: 1.5;
$augmented-fourth: 1.41421;
$fourth: 1.333333333;
$major-third: 1.25;
$minor-third: 1.2;
$major-second: 1.125;
$minor-second: 1.066666667;


:root {
  --body-bg:#080F1C;
  --sidebar-width:3rem;
  --sidebar-color:#121212;
  --card-color:#282E41;
  --card-title:white;
}


$dark-100:#121212;




//new gridbreakpoing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1366px,
);


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$pokemon:
  (
    bug: #92BC2C,
    "dragon": #0C69C8,
    "fairy": #EE90E6,
    "fire": #FBA54C,
    "ghost": #5F6DBC,
    "unknown": #5F6DBC,
    "ground": #DA7C4D,
    "normal": #A0A29F,
    "pyschic": #FA8581,
    "steel": #5695A3,
    "dark": #595761,
    "shadow": #595761,
    "electric": #F2D94E,
    "fighting": #D3425F,
    "flying": #A1BBEC,
    "grass": #5FBD58,
    "ice": #75D0C1,
    "poison": #B763CF,
    "rock": #C9BB8A,
    "water": #539DDF,
  );

  @each $type, $color in $pokemon{
    .text-#{$type}{
      color: $color;
    }
    .bg-#{$type}{
      background-color: $color!important;
    }

  }

//spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 2,
    ),
    6: (
      $spacer * 3,
    ),
  ),
  $spacers
);

//responsive font size setting
$enable-responsive-font-sizes: true;
$rfs-factor: $minor-third;
$rfs-unit: px;

//bootstrap grid configuration
$grid-gutter-width: 16px !default;



//alert
$alert-padding-y: 0.5rem;
$alert-padding-x: 0.75rem;
$alert-margin-bottom: 1rem;
$alert-border-radius: 4px;
$alert-link-font-weight: 400;
$alert-border-width: 1px;






//Tooltip
$tooltip-color: white;
$tooltip-font-size: 0.833rem;
$tooltip-bg: black;
