html,body{
    
    font-weight: 400;
    font-size: 1em;
    @include lhCrop(var(--heading-line-height));


    
}


a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;

    color: inherit;
    &:visited{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
   
    // color: inherit;

    }
    &:hover{
        text-decoration: none;
        color: inherit;
    }
    &:focus{

    text-decoration: none;
    outline: 0;
    color: inherit;
    }   
}

@media screen and (min-width: 1420px){
    html,body{
        font-size: 1.2em;
    }
}

