.form {
  &-group {
    &-icon {
      position: relative;

      i,
      svg {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        @include des;
      }

      .form-control {
        padding-right: calc(1.5rem + 0.25rem);
      }

      &.left{
        i,
        svg {
          left: 0.75rem;
        }
        .form-control {
          padding-left: calc(1.5rem + 0.25rem);
          padding-right: $input-padding-x;
        }
      }
     
    }

    &.withDialog {
      position: relative;

      .dialog {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.75rem;
        border-radius: 2px;
        border: 1px solid $gray-200;
        box-shadow: 0 2px 4px rgba(10, 10, 10, 0.16);
        z-index: 1;
        background-color: white;
        display: none;

        &.show {
          display: block;
        }
      }
    }
  }
  &-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      @include des;
      color: $gray-600;
      font-weight: 400;
      margin-bottom: 0;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid $gray-500;
        background-color: transparent;
        display: block;
        flex-shrink: 0;
      }
    }
    i,
    svg {
      @include small;
      color: $gray-500;
      @include hover {
        color: $blue;
        cursor: pointer;
      }
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;

      &:checked + label:before {
        background-color: $info;
        border: 1px solid $info;
      }
    }
  }
  &-custom {
    display: flex;
    align-items: center;
    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
    padding: 0.5rem;
    width: 100%;
    line-height: 1;
    position: relative;
    .dialog {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0.75rem;
      border-radius: 2px;
      border: 1px solid $gray-200;
      box-shadow: 0 2px 4px rgba(10, 10, 10, 0.16);
      z-index: 1;
      background-color: white;
      display: none;
      &.show {
        display: block;
      }
    }
  }

  &-labeled {
    display: flex;
    align-items: center;

    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
    padding: 0.25rem 0.5rem;

    label {
      color: $blue;
      flex-shrink: 0;
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
    .field {
      width: 100%;
      line-height: 1;
    }
    .form-group-icon input {
      padding-right: 1.5rem;
    }
    .form-group-icon {
      i,
      svg {
        color: $gray-500;
        font-size: 0.75rem;
      }
    }
    input,
    select {
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: transparent;
      @include des;
      margin: 0.25rem 0;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      line-height: 1.5;
    }
  }
  &-dropdown {
    i,
    svg {
      color: $gray-500;
      @include h5;
      @include hover {
        color: $blue;
        cursor: pointer;
      }
    }
  }
  &-icon {
    position: relative;
    svg,
    i {
      color: $gray-500;
    }
    .form-control {
      height: 100%;
    }
    .lft,
    .rft {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .lft {
      left: 0.75rem;
    }
    .rft {
      right: 0.75rem;
    }
  }
  &-textarea {
    resize: none;
  }
  &-label {
    &-close {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        @include small;
        color: $red;
      }
    }
  }
}

.chip {
  @include small;
  color: $dark;
  background-color: #f0f0f0;
  border-radius: 2px;
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem;

  .ic-close {
    margin-left: 0.5rem;
    font-size: 0.5rem;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    input {
      min-width: 110px;
      flex: 1 1;
    }
    .chip {
      margin-right: 0.5rem;
    }
  }
  &-dialog {
    position: absolute;
    left: 0;
    top: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 8px #e0e0e0;
    border-radius: 2px;
    padding: 0.5rem;
    padding-bottom: 0;
    z-index: 10;

    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    display: none;
    &.show {
      display: flex;
    }
    .chip {
      margin-bottom: 0.5rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

//error and info

.error,
.info {
  display: block;
  margin-top: 4px;
  font-style: italic;
  @include small;
  i {
    display: inline-block;
    margin-right: 0.25rem;
  }
}

.error {
  color: $red;
}

.info {
  color: $info;
}

.custom-select {
  background-color: $white;
  position: relative;
  &:focus {
    box-shadow: none;
  }
}

.form {
  &--upload {
    display: flex;
    align-items: center;
    .form-control {
      margin-right: 0.5rem;
      &[readonly] {
        background: #fff;
      }
    }
  }

  &--text {
    color: $secondary;
    font-weight: 400;
    @include des;
  }

  &--custom {
    position: relative;
    margin-bottom: 0.5rem;
    .ic-edit,
    .ic-delete,
    .ic-checkmark,
    .ic-close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0);
      transition: ease-in 0.2s;
      cursor: pointer;
      color: $secondary;

      &:hover {
        color: $primary;
      }
    }

    .ic-checkmark,
    .ic-close {
      font-size: 12px;
    }

    .ic-edit,
    .ic-checkmark {
      right: 2.5rem;
    }

    .ic-delete,
    .ic-close {
      right: 1rem;
    }

    &:hover {
      .ic-edit,
      .ic-delete,
      .ic-checkmark,
      .ic-close {
        transform: translateY(-50%) scale(1);
      }

      .form-control:disabled {
        box-shadow: 0 2px 4px rgba($primary, 0.08);
      }
    }

    .ic {
      &-checkmark {
        @include hover-focus-active {
          color: $green;
        }
      }
      &-close {
        @include hover-focus-active {
          color: $red;
        }
      }
    }
  }
}

.files {
  border-radius: 4px;
  padding: 1.5rem;
  border: 1px solid $info;
  &--upload {
    position: relative;
    margin-bottom: 0;
    border: 1px dashed $gray-500;
    border-radius: 8px;
    height: 166px;
    .imagePlaceholder {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 100%;
      height: 100%;

      pointer-events: visible;
      display: none;
      &:before {
        content: "\e948";
        font-family: "icomoon" !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        font-size: 32px;
        color: $blue;
        opacity: 0;
        transition: 0.2s ease-in opacity, 0.2s ease-in transform;
      }
      img {
        max-width: 100%;
      }

      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      .imagePlaceholder {
        &:before {
          transform: translate(-50%, -50%) rotate(360deg);
          opacity: 1;
        }
      }
    }

    label {
      height: 150px;
      color: $gray-800;
      @include des;

      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      span {
        color: $info;
      }
    }
  }

  &--element {
    margin-bottom: 1rem;
  }
  &--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 360px;
    margin: auto;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border;
      padding-bottom: 1rem;
      .icon {
        flex-shrink: 0;
        margin-right: 1rem;
        i {
          font-size: 1.5rem;
        }
      }

      .textbox {
        h6 {
          @include des;
        }
        p {
          @include small;
          color: $grey-900;
          margin-bottom: 0;
        }
      }
      .close {
        color: $secondary;
        @include des;
        transition: color 0.2s;
        &:hover {
          cursor: pointer;
          color: $red;
        }
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.link {
  &--action {
    display: flex;
    align-items: center;
    @include des;
    font-weight: 600;
    span {
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--button {
    .btn {
      color: $gray-600;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

.custom--collapse {
  position: absolute;
  z-index: 1;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  margin: 0;
  padding: 0;
  list-style: none;
  width: 98px;
  border-radius: 4px;
  li {
    padding: 0.25rem 0.75rem;
    a {
      font-weight: 600;
      color: #b3b3b3;
    }
    &.active {
      background-color: #f8f8fb;
      a {
        color: #3a36a0;
      }
    }
  }
}

.documents {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .icon {
      font-size: 24px;
      color: $input-info-color;
      margin-right: 0.5rem;
    }

    .text {
      h6 {
        font-weight: 600;
        color: $yellow;
        line-height: 9px;
      }
      small {
        color: $grey-900;
      }
    }
  }
}

.ias-radio {
  label {
    position: relative;
    padding-left: 1.125rem;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      border-radius: 50%;
    }
    &:before {
      width: 12px;
      height: 12px;
      top: 2px;
      left: 0;
      background-color: map-get($ias, navy-10);
    }
    &:after {
      width: 8px;
      height: 8px;
      background: map-get($ias, navy-30);
      top: 4px;
      left: 2px;
      transition: all 0.1s ease-out;
      transform: scale(0);
    }
  }
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;

    &:checked + label {
      &:before {
        border: 1px solid map-get($ias, navy-30);
      }
      &:after {
        transform: scale(1);
      }
    }
  }
}

.custom {
  &--checkbox {
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      @include des;
      color: $gray-600;
      font-weight: 400;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 1px solid $secondary;
        background-color: transparent;
        display: block;
        flex-shrink: 0;
        margin-right: 1rem;
      }
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;

      &:checked + label:before {
        background-color: $info;
        border: 1px solid $info;
      }
    }
  }

  &--favourite {
    label {
      cursor: pointer;

      @include des;
      color: $gray-700;
      font-weight: 400;
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;

      &:checked + label {
        color: $info;
      }
    }
  }
}
//checkbox with no label
.checkbox {
  label {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 1px solid $secondary;
    border-radius: 4px;
    margin-bottom: 0;
  }

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;

    &:checked + label {
      background-color: $info;
      border: 1px solid $info;
    }
  }
}

//radio with no label
.radio {
  label {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 1px solid $secondary;
    border-radius: 50%;
    margin-bottom: 0;
  }

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;

    &:checked + label {
      background-color: $info;
      border: 1px solid $info;
    }
  }
}

.tags {
  &--item {
    background-color: $grey-900;
    color: white !important;
    @include des;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 1rem;

    i {
      display: inline-block;
      margin-left: 0.25rem;
      font-size: 10px;
    }
  }
}

//custom radio and  checkbox field
.custom {
  &--radio {
    input[type="radio"] {
      display: none;

      &:checked + label:before {
        background-color: $info;
        border-color: $info;
      }
    }
    label {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
      &:before {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        border: 1px solid $gray-800;
        border-radius: 50%;
        margin-right: 0.5rem;
        transition: ease-in 0.2s;
      }
    }

    &-inline {
      display: flex;
      .custom--radio {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}

//custom butons

.btn {
  &-rounded {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      @extend .small;
    }
  }
}

// hide date default arrow
input[type="date"] {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.tags {
  &-inline {
    display: flex;
    align-items: center;

    border: 1px solid $input-border-color;
    padding: 0 $input-padding-x;

    label {
      flex-shrink: 0;
      margin-bottom: 0;
    }
    & > div {
      width: 100%;
      flex-grow: 1;
      .tagify {
        border: none;
        --tag-text-color: #1a1a1a;
        --tag-bg: #f0f0f0;
        --tag-hover: #dddddd;
      }
    }
  }
}
.tagify__dropdown__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.tagify {
  &__tag {
    &-text {
      @include des;
    }
  }
}
.tagify__input:empty::before {
  @include des;
}

//checbox

.checkbox {
  &-01 {
    display: flex;
    align-items: center;
    label {
      padding-left: 1.5rem;
      position: relative;
      margin-bottom: 0;
      color: $dark;
      &:after {
        content: "";
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $gray-500;
        background-color: white;
      }
      &:before {
        position: absolute;
        top: 2px;
        left: 4px;
        z-index: 1;
      }
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      &:checked + label {
        color: $blue;
        &:before {
          content: "\e923";
          font-family: "icomoon";
          font-size: 0.5rem;
          color: $blue;
        }
      }
    }
  }
}
