.form {
  &-group {
    &-icon {
      position: relative;

      i,
      svg {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        @include des;
      }

      .form-control {
        padding-right: calc(1.5rem + 0.25rem);
      }

      &.left{
        i,
        svg {
          left: 0.75rem;
          color: white;
        }
        .form-control {
          padding-left: calc(1.5rem + .5rem);
          padding-right: $input-padding-x;
          &::-webkit-input-placeholder{
            color: #eee;
          }
        }
      }
     
    }

    &.withDialog {
      position: relative;

      .dialog {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.75rem;
        border-radius: 2px;
        border: 1px solid $gray-200;
        box-shadow: 0 2px 4px rgba(10, 10, 10, 0.16);
        z-index: 1;
        background-color: white;
        display: none;

        &.show {
          display: block;
        }
      }
    }
  }
 
  

&-control{
  background-color: var(--card-color);
  border-radius:100px;
  outline:var(--card-color); 
  border: unset;
  &:focus{
    background-color: var(--card-color);
    color: white;
  }
}

  

}
