@mixin list-bordered(
  $hover,
  $hover-text,
  $px: 1rem,
  $py: 0.75rem,
  $color: $secondary
) {
  li {
    padding: $px $py;
    &:not(:last-child) {
      border-bottom: 1px solid $color;
    }
    @include hover {
      background-color: $hover;
      color: $hover-text;
    }
  }
}
@mixin list-btnlist($px, $py, $activeBg, $activeColor, $color, $border) {
  @include list-unstyled;
  margin: 0;

  li {
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 2px;
    }
    a {
      display: block;
      font-style: normal;
      font-weight: 600;
      padding: $py $px;
      border: 1px solid $border;
      box-sizing: border-box;
      color: $color;
      @include des;

      &.active {
        background-color: $activeBg;
        color: $activeColor;
        border-color: $activeBg;
      }
    }
  }
}

.list {
  @include list-unstyled;
  list-style: none;
  padding: 0;
  margin: 0;
  &-sidebar {
    padding: 0 1rem;

    a {
      display: block;
      color: map-get($sidebar, linkColor);
      @include des;
      padding: 0.5rem;
      @include lhCrop(1.2); //line-height: 1.2
      line-height: 1;

      &.active {
        background-color: $blue-300;
        border-radius: 4px;
        color: $blue-400;
      }
    }
  }
  &-withcount {
    padding: 0 1rem;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: map-get($sidebar, linkColor);
      @include des;
      padding: 0.5rem;

      &.active {
        background-color: $blue-300;
        border-radius: 4px;
        color: $blue-400;
        @include hover {
          color: $blue-400;
        }
      }
      &:hover {
        color: $blue-300;
      }
    }
  }
  &__inline {
    display: flex;

    @include media-breakpoint-up(md) {
      align-items: center;
    }

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      .ic-members,
      .ic-chat {
        @include rfs(1rem);
      }
    }
  }

  &-links {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $gray-800;
      border-bottom: 1px solid $gray-100;

      &.active {
        background-color: $blue-400;
        color: white;
        @include hover {
          color: white;
        }
      }
      @include hover {
        color: $cyan;
        cursor: pointer;
      }
    }

    a {
      @include des;
      padding: 0.5rem;
      line-height: 1;
    }
    .close {
      font-size: 0.5rem;
      @include hover {
        color: $red;
      }
    }
  }

  &-02 {
    a {
      display: flex;
      justify-content: space-between;
      @include des;
    }
  }
  &-03 {
    a {
      display: block;
      padding: 0.5rem 1.5rem;
      @include des;
      color: black;
      background-color: $gray-200;
      &.active {
        color: white;
        background-color: $blue;
      }
    }
    &_scrolllg {
      @include media-breakpoint-down(lg) {
        display: flex;
        margin-bottom: 1rem;
        @include scrollable($blue);
        padding-bottom: 0.5rem;
      }
      li {
        @include media-breakpoint-down(lg) {
          flex-shrink: 0;
          margin-right: 1rem;
        }
      }
    }
  }
  //04 is used in ias project for radio list
  &-04 {
    li {
      padding: 0.5rem 0;
    }
    .form-group {
      margin-bottom: 0;
      label {
        margin: 0;
      }
    }
  }
  //used in ias project showing list of rules
  &-05 {
    li {
      display: flex;
      padding: 1rem;
      border-bottom: 1px dotted map-get($ias, navy-10);
      align-items: center;
      .close {
        @include h6;
        opacity: 1;
        @include hover {
          cursor: pointer;
        }
      }
    }
  }

  &-06 {
    width: 100%;
    li {
      display: flex;
      justify-content: space-between;
      color: $dark;
      @include des;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  &-07 {
    display: flex;
    flex: 1 1;
    li {
      height: 60px;
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 0.25rem;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &.count {
        position: relative;
        div {
          position: absolute;
          left: 50%;
          top: 50%;
          color: white;
          transform: translate(-50%, -50%);
        }
        img {
          filter: opacity(0.8);
        }
      }
    }
  }
  &-08 {
    padding-left: 1.5rem;
    li {
      display: flex;
      justify-content: space-between;
      @include small;
      padding-bottom: 0.5rem;

      color: map-get($ias, info-300);
      span {
        &:first-child {
          display: flex;
          align-items: center;
          i,
          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  &-09 {
    li {
      display: block;
      a {
        display: inline-flex;
        padding: 0.25rem 0.5rem;
        border: 1px solid map-get($ias, info-300);
        color: map-get($ias, info-300);
        background-color: map-get($ias, navy-40);
        @include des;
        &.active {
          color: map-get($ias, navy-40);
          background-color: map-get($ias, navy-30);
          border-color: map-get($ias, navy-30);
        }
      }
    }
  }
  &-10{
    li{
      &:not(:last-child){
        border-bottom:1px solid $gray-100;

        a{
          padding-bottom: 1rem;
        }

      }
      &:not(:first-child){


        a{
          padding-top: 1rem;
        }

      }
      a{
        display: flex;
        align-items: flex-start;

        .avatar-md{
          margin-right: .75rem;
        }

        h6{
          font-weight:700;
          color: $blue;
        }

        .textbox{
          display: flex;
          
          justify-content: space-between;
          align-items: flex-end;
          color:$gray-400;


          span{
            @include small;
            color: $gray-500;
          }

        }
      }
    }
  }
  &-11{
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem .5rem .5rem 0;
      @include hover{
        background-color: $gray-200;
        cursor: pointer;
      }
      .ic-close{
        font-size: .5rem;
        color: $red;
      }
    }
  }
  &-process {
    display: flex;
    border-bottom: 1px solid $gray-100;
    flex-wrap: wrap;

   & > li {
      & > a {
        display: block;
        @include des;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        position: relative;
        color: map-get($list-process, link-color);
        padding: map-get($list-process, py) map-get($list-process, px);
        &.active {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          color: map-get($list-process, active-color);
          background-color: map-get($list-process, active-bg);
          @include hover-focus-active {
            color: map-get($list-process, active-color);
          }
        }
        @include hover {
          cursor: pointer;
          color: map-get($list-process, active-color);
          background-color: map-get($list-process, active-bg);
        }
      }
    }
    &.scroll {
      flex-wrap: nowrap;
      @include scrollable;
      li {
        flex-shrink: 0;
      }
    }
  }
  &-tree {
    .list-group-item {
      // border-bottom: 1px solid $gray-100;
      padding: 0.5rem 1rem;
      @include des;
      color: $gray-800;
      &[aria-level="2"] {
        padding-left: 2rem;
      }
      &[aria-expanded="true"] {
        color: $blue;
        i {
          color: $blue;
        }
      }
      .state-icon {
        margin-right: 0.75rem;
        cursor: pointer;
        color: $gray-300;
      }
      .item-icon {
        margin-right: 0.5rem;
      }
      i {
        @include des;
      }
    }
  }
  //used in ias project to define the folder strucutre of the documents
  &-folder {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 1.5rem;
      max-width: 3rem;
      .icon {
        font-size: 3rem;
        margin-left: -0.4rem;
      }
      p {
        color: black;
        @include small;
        font-weight: 600;
      }
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
  &-accordion {
    & > li {
      border-bottom: 1px solid map-get($ias, info-300);
      a {
        @include small;
        color: map-get($ias, info-300);
        padding: 0.5rem 0;

        display: block;
        i,
        svg {
          margin-right: 0.5rem;
          color: map-get($ias, info-300);
          font-size: 1rem;
        }
        position: relative;
        &:after {
          font-family: "icomoon";
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 0.5rem;
          transform: translateY(-50%);
        }
        &[aria-expanded="false"] {
          &:after {
            content: "\e911";
            color: map-get($ias, blue-10);
          }
        }
        &[aria-expanded="true"] {
          i,
          svg {
            color: white;
          }
          &:after {
            content: "\e90e";
          }
        }
      }
    }
  }

  // used in DMS for added users list
  &-users{
    max-height: 192px;
    overflow-y: auto;

    li{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .link{
        &-remove{
          padding: 0.25rem 0.5rem;
          display: none;
        }
      }

      &:hover{
        background-color: $gray-10;

        .link{
          &-remove{
            display: block;
          }
        }
      }
    }
    
    /* width */
    &::-webkit-scrollbar {
      width: 0.375rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba($blue-500, 0.16);
      border-radius: 0.375rem;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $blue-500;
      border-radius: 0.375rem;
    }
  }
}
