.home{
  background-color: var(--body-bg);
  min-height:100vh;
  aside{
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--sidebar-color);
    overflow:auto;
    @include scrollable;
    z-index: 1;

    .logo{
      
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      img{
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin: auto;
      }
    }

   

  }
  margin-left: var(--sidebar-width);
  padding: 1rem;
}

.filter{
  &-card{
    color: white;
    padding: 2rem;
    border-radius: 20px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    overflow: hidden;
    img{
      position: absolute;
      right: 0;
      top: 0;
      opacity: .2;
    }
    h6{
      font-weight: 300;
    }
    .icon{
      color: white;
      font-size: 1.5rem;
    }
  }
}