.overview {
  min-height: 100vh;
  &-card {
    background-color: white;
    max-width: 320px;
    margin: auto;
    border-radius: 20px;
    padding: 1.5rem;
    transition: height ease-in 4s;

    .title {
      font-weight: 400;
      text-align: center;
      margin-bottom: 1rem;
      @include h3;
    }

    .sprite {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  &-tab {
      margin-top: 1.5rem ;
      margin-bottom: 1rem;
    li {
      a{
        display: block;
        padding: 0.25rem 1rem;
        @include des;
        
        border-radius: 100px;
        &.active{
            color: white;
        }
        @include hover{
            cursor: pointer;
        }
      }
    }
  }
}

.stat {
  &-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.25rem;

    h6 {
      @include small;
      text-transform: uppercase;
      margin-right: 0.5rem;
      flex-shrink: 0;
      font-weight: 500;
    }
    span {
      @include small;
      margin-left: 0.5rem;
      font-weight: 500;
      color: #707070;
    }
    .progress {
      width: 100%;
    }
  }
}

.move{
  &-item{
    h6{
      color:$black;
      @include des;
      margin-bottom: .75rem;
      font-weight: 500;
      color:#707070;
      &:hover{
        cursor: pointer;
        color: $blue;
      }
    }
  }
  &-list{
    @include small;
    display: flex;
    flex-wrap: wrap;
    
    li{
      background-color: #eee;
      padding: .25rem .5rem;
      border-radius: 4px;
      margin-bottom: .5rem;
      &:not(:last-child){
        margin-right: .5rem;
      }
      &:hover{
        background-color: rgba($blue,.1);
        color: $blue;
      }
    }
  }
}
